html, body {
    font-family: Roboto, sans-serif;
    height: 100%;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

.header-bg {
    background-color: #1f2937;
}

.page-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin: 20px 0px;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 10px;
    flex-wrap: wrap;
    color: white;
}

.first-section-bg {
    background-color: #1f2937;
}

.first-section img {
    width: 600px;
    height: auto;
    max-width: 100%;
}

.first-section button {
    background-color: #3882f6;
    color: white;
    padding: 10px 24px;
    border-radius: 6px;
    font-weight: 600;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 70px;
}

.cards {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    max-width: 100%;
    border: 3px solid #3882f6;
    border-radius: 6px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.heading-subtext-button-container .subtext {
    max-width: 380px;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 50px 0px;
}

.third-section blockquote {
    all: unset;
    font-size: 36px;
    font-style: italic;
}

.third-section .quote-attribution {
    align-self: flex-end;
    font-weight: 700;
    font-size: 20px;
}

.third-section-bg {
    background-color: #e5e7eb;
}

.fourth-section {
    padding: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-section .page-container {
    padding: 0;
}

.fourth-section button {
    color: white;
    border-radius: 6px;
    border: 3px solid white;
    background-color: #3882f6;
    font-weight: 600;
    padding: 10px 24px;
}

.blue-background-fourth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #3882f6;
  padding: 25px 50px;
  border-radius: 6px;
  width: 60%;
  max-width: none;
  margin: 0 auto;
}

.heading-subtext-container {
  max-width: 500px;
}

footer {
    margin-top: 20px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}