body {
    font-family: Roboto, sans-serif;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

.page-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 10px;
    flex-wrap: wrap;
}

.first-section img {
    width: 600px;
    height: auto;
    max-width: 100%;
}

.first-section button {
    background-color: #3882f6;
    color: white;
    padding: 10px 24px;
    border-radius: 6px;
    font-weight: 600;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    gap: 10px;
}

.card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    max-width: 100%;
    border: 3px solid #3882f6;
    border-radius: 6px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.heading-subtext-button-container .subtext {
    max-width: 380px;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    gap: -10px;
    margin: 0 auto;
    padding: 50px 0px;
}

.third-section blockquote {
    all: unset;
    font-size: 36px;
    font-style: italic;
}

.third-section .quote-attribution {
    align-self: flex-end;
    font-weight: 700;
    font-size: 20px;
}